.vs/UnityFightingGame/CopilotIndices/17.14.1347.20289/CodeChunks.db
.vs/UnityFightingGame/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
.vs/UnityFightingGame/FileContentIndex/45b75d20-e607-4a88-aaf9-8b9775e0bf3f.vsidx
.vs/UnityFightingGame/v17/.suo
.vs/UnityFightingGame/v17/DocumentLayout.json
/Library
/Logs
/.vs
/obj
/Temp
